LOG_LEVEL=info
LOG_DIR=./logs
SCREENSHOT_DIR=./screenshots
BROWSER_HEADLESS=false
BROWSER_TIMEOUT=30000
BROWSER_WIDTH=1920
BROWSER_HEIGHT=1080

TARGET_URL=https://zj.122.gov.cn
USERNAME=your_username
PASSWORD=your_password
